<div *ngIf="reservations?.length; else noReservations" class="container">
    <div *ngFor="let r of reservations" class="card">
        <div class="image">
            <!-- <img src="{{apiUrlRestaurants}}{{r.restaurant.image}}" alt=""> -->

            <img *ngIf="r.restaurant.image; else noImage" src="{{apiUrlRestaurants}}{{r.restaurant.image}}" alt="{{r.restaurant.name}}" draggable="false">
            <ng-template #noImage><img src="assets/images/d.jpg" alt="{{r.restaurant.name}}" draggable="false"></ng-template>
                
        </div>

        <div class="wrapper">
            <div class="info">
                <h2>Restaurant name:</h2>
                <a href="/single?id={{r.restaurant.id}}"><h3>{{r.restaurant.name}}</h3></a>

                <h2>Number of guests:</h2>
                <h3>{{r.numberOfGuests}}</h3>

                <h2>Date:</h2>
                <h3>{{r.date}} &nbsp;&nbsp;{{r.time}}h</h3>
            </div>
            <div class="info">
                <h2>Note:</h2>
                <h3>{{r.note}}</h3>

                <h2>Is accpeted:</h2>
                <h3 *ngIf="r.isAccepted; else notAccepted">Yes</h3>
                <ng-template #notAccepted><h3>No</h3></ng-template>         

                <h2>IsRealised:</h2>
                <h3 *ngIf="r.isRealised; else notRealised">Yes</h3>
                <ng-template #notRealised><h3>No</h3></ng-template>
            </div>

            <div style="width: 170px;" *ngIf="r?.appendices.length; else noAppendice" class="info">
                <h2>Appendices:</h2>
                <h3 *ngFor="let a of r?.appendices">{{a.name}}</h3>
            </div>
            <ng-template #noAppendice>
                <div style="width: 170px;" class="info">
                    <h2>Appendices:</h2>
                    <h3>No appendices</h3>
                </div>
            </ng-template>

            <div class="info infoFlex">
                <img class="icon" src="assets/icons/x.png" alt="icon" (click)="deleteReservation(r.id)">
            </div>
        </div>
    </div>
</div>
<ng-template #noReservations>
    <div class="errorMessage">You have no reservations yet</div>
</ng-template>


<div *ngIf="isLoaderVisible" class="loading-state">
    <div class="loading"></div>
</div>