// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}
.card{
    background-color: #eeeeee;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
#left{
    z-index: 100 !important;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
}
.carousel .card .img {
  background: #d2252b;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.containerHeadeing{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.containerHeadeing > h1{
    font-size: 40px;
    font-weight: 550;
}



.wrapper1{
    width: 100%;
    min-height: 100px;
}

.carousel1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 1200px){
    .carousel1{
        flex-direction: column;
        align-items: center;
    }

    .card1{
        margin-bottom: 50px;
    }
}
  
  

.card1{
    height: 300px;
    width: 350px !important;
    text-decoration: none;
    list-style-type: none;
    // filter: brightness(0.9);
}

.im{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card1 > span{
    position: relative;
    top: -340px;
    margin-left: 15px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.card1 > span > i{
    font-size: 25px;
    position: relative;
    top: 5px;
    color: #ffee00;
}
.card1 > span > img{
    width: 20px;
}
.card1 > h2{
    font-size: 25px;
    position: relative;
    font-weight: 700;
    top: -60px;
    color: #fff;
    margin-left: 15px;
}

.card1 > h3{
    font-size: 20px;
    position: relative;
    font-weight: 600;
    top: -120px;
    color: #fff;
    margin-left: 15px;
    font-style: italic;
}

.spacer{
    margin-top: 100px;
}


// @import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #d2252b;
  border-right: none;
  padding: 5px;
  height: 50px;
//   border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #d2252b;
}

.searchButton {
  width: 50px;
  height: 50px;
  border: 1px solid #d2252b;
  background: #d2252b;
  text-align: center;
  color: #fff;
//   border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 52%;
  margin: 0px auto;
  margin-top: 0px !important;
  position: relative; 
  top: -50px;
}
.searchResults{
    width: 100%;
    height: 50px;
    background-color: #fefbfb;
    //position: absolute;
    border-top: 1px solid black;
    padding: 10px;
}

.resultContainer{
    position: absolute;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-collapse: collapse;
    border: 1px solid black;
}

.searchResults:first-child {
    border-top: none;
}

.heart{
  width: 30px;
  position: relative;
  top: -370px;
  left: 300px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 10000;
}


.heart:hover{
  transform: scale(1.2);
}