<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search restaurants">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
    <!-- <div class="searchResults"></div><br>
    <div class="searchResults"></div> -->


</div>

<div class="containerHeadeing">
    <h1>Categories</h1>
</div>
<div class="container">
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li class="card">
          <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
          <h2>Blanche Pearson</h2>
          <span>Sales Manager</span>
        </li>
        <li class="card">
          <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
          <h2>Joenas Brauers</h2>
          <span>Web Developer</span>
        </li>
        <li class="card">
          <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
          <h2>Lariach French</h2>
          <span>Online Teacher</span>
        </li>
        <li class="card">
          <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
          <h2>James Khosravi</h2>
          <span>Freelancer</span>
        </li>
        
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>

<div class="containerHeadeing spacer">
    <h1>Trendy restaurants</h1>
</div>

<div class="container">
    <div class="wrapper1">
      <ul class="carousel1">
        <a href="http://">
            <li class="card1">
                <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
                <h2>Blanche Pearson</h2>
                <h3>Restaurant place</h3>
                <span><i class="zmdi zmdi-star"></i> &nbsp; 5.0 &nbsp; <img src="assets/icons/star.png" alt="star"></span>
            </li>
        </a>
        <a href="http://">
            <li class="card1">
                <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
                <h2>Blanche Pearson</h2>
                <h3>Restaurant place</h3>
                <span><i class="zmdi zmdi-star"></i> &nbsp; 5.0 &nbsp; <img src="assets/icons/star.png" alt="star"></span>
            </li>
        </a>
        <a href="http://">
            <li class="card1">
                <div class="img"><img src="assets/images/g1.jpg" alt="img" draggable="false"></div>
                <h2>Blanche Pearson</h2>
                <h3>Restaurant place</h3>
                <span><i class="zmdi zmdi-star"></i> &nbsp; 5.0 &nbsp; <img src="assets/icons/star.png" alt="star"></span>
            </li>
        </a>
      </ul>
    </div>
</div>
<div id="buttonContainer">
    <button type="submit" class="sumbitButton">See more</button>
</div>



