<div id="formContainer">
    <div id="logoContainer">
        <img id="logo" src="assets/images/logo.png" alt="">
    </div>


    <p id="hedding">The exit you deserve</p>

    <p id="hedding2">
        Enter the activation code that was sent to you by email</p>
    <form >
        
        <div class="mb-3" class="customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/code2.png" alt="icon">
            </div>
            <div class="inputFiled">
              <input type="text" name="code" id="email" formControlName="code" placeholder="Activation code">
            </div>
        </div>
        
        
        
        <!-- <div *ngIf="message" class="successMessage">{{message}}</div> -->

        <!-- <div *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</div> -->

        <div id="buttonContainer">
            <button type="submit" class="sumbitButton">Submit</button>
        </div>

    </form>
</div>
