<section class="wrapper">    
    <div class="table-agile-info">
<div class="panel panel-default">
<div class="panel-heading">
 Cities
</div>
<div>
  <table class="table" ui-jq="footable">
    <thead>
      <tr>
        <th data-breakpoints="xs">#</th>
        <th>Name</th>
        <th>Zip code</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cities; let i = index">
        <td>{{i + 1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.zipCode}}</td>

        <td>
            <button type="button" routerLink="/admin/updateCity/{{c.id}}" class="btn btn-warning">Edit</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" (click)="delete(c.id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
</div><button routerLink="/admin/addCity" type="button" class="btn btn-success">Add new city</button>
<p class="text-danger">{{errorMessage}}</p>
</div>
</section>

