<div class="footer-cpy text-center">
    <div class="social_banner">
        <ul class="social_list">
            <li>
                <a href="#" class="facebook">
                    <i class="zmdi zmdi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="zmdi zmdi-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="dribble">
                    <i class="zmdi zmdi-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="#" class="vimeo">
                    <i class="zmdi zmdi-vk"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copy">
        <p>©All rights reserved | Book a table
        </p>
    </div>
</div>
