<div *ngIf="isLoggedIn" class="reservation book-right">
    <div class="containerReservation">
      <h3 class="w3layouts-title title-reserve">Make a Reservation</h3>
      <div class="book-left1"></div>
      <div class="book-right1">
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="book-right2">
          <div class="date-field">
            <label>Date :</label>
            <input type="date" id="datepicker" formControlName="date" [attr.min]="minDate" [attr.max]="maxDate">
          </div>
          <div class="form-left">
            <label>No.of People :</label>
            <select formControlName="numberOfGuests" required>
              <option hidden value="0">Select number of persons</option>
              <option *ngFor="let t of numbersOfGuests" [value]="t">{{t}} persons</option>
            </select>
          </div>
          <div class="form-right">
            <label>Time :</label>
            <select formControlName="time" required>
              <option hidden value="">Select time</option>
              <option *ngFor="let time of timeSlots" [value]="time">{{time}}</option>
            </select>
          </div>
          <div *ngIf="restaurant?.appendiceRestaurants.length" class="phone-info">
            <label>Appendices:</label>
            <div class="appendices" *ngFor="let m of restaurant?.appendiceRestaurants">
              <input type="checkbox" [value]="m.id" (change)="onCheckboxChange($event, m.id)" id="{{m.id}}">&nbsp;
              <label for="{{m.id}}">{{m.name}}</label>
            </div>
          </div><br>
          <div class="clearfix"> </div>
          <div class="phone-info">
            <label>Note :</label>
            <input  type="text" formControlName="note" placeholder="Reservation note" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Reservation note';}">
          </div>
          <input type="submit" value="Book a Table">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
    <p class="message" *ngIf="message">{{message}}</p>
    <p class="message" *ngIf="errorMessage">{{errorMessage}}</p>

</div>

<div class="containerHeadeing space">
    <h1>Restaurant info</h1>
</div>
<div class="container2">
    <div class="left">
        <h2>Name:</h2>
        <h3>{{restaurant?.name}}</h3>

        <h2>Restaurant type:</h2>
        <h3>{{restaurant?.resTypeString}}</h3>

        <h2>Description:</h2>
        <h3>{{restaurant?.description}}</h3>

        <h2>Meal categories:</h2>
        <h3 *ngFor="let m of restaurant?.mealCategories">{{m.name}}</h3>

        <h2 *ngIf="restaurant?.rate">Rate:</h2>
        <h3>{{ restaurant?.rate | number: '1.1-1' }}</h3>
      </div>

    


    <div class="right">
        <h2>Appemdices:</h2>
        <h3 *ngFor="let m of restaurant?.appendiceRestaurants">{{m.name}}</h3>

        <h2>Maximum number of guests:</h2>
        <h3>{{restaurant?.maxNumberOfGuests}}</h3>

        <h2>Addres:</h2>
        <h3>
            <span *ngIf="restaurant?.address.city.name">{{restaurant?.address.city.name}}</span>
            <span *ngIf="restaurant?.address.place">, {{restaurant?.address.place}}</span>
            <span *ngIf="restaurant?.address.address">, {{restaurant?.address.address}}</span>
            <span *ngIf="restaurant?.address.number"> {{restaurant?.address.number}}</span>
            <span *ngIf="restaurant?.address.floor">, floor : {{restaurant?.address.floor}}</span>
            <span *ngIf="restaurant?.address.description"> <br>Place description: {{restaurant?.address.description}}</span>

        </h3>
    </div>
</div>


<div class="containerHeadeing space">
    <h1>Images</h1>
</div>
<div class="container">
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li *ngFor="let image of restaurant?.images" class="card">
            <a href="{{apiUrlRestaurants}}{{image}}"><div class="img"><img src="{{apiUrlRestaurants}}{{image}}" alt="" draggable="false"></div></a>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>




<div *ngIf="restaurant?.dishes?.length" class="containerHeadeing space">
    <h1>Special dishes</h1>
</div>
<div *ngIf="restaurant?.dishes?.length" class="container">
    
    <div *ngFor="let d of restaurant?.dishes" class="card1">
        <div class="header">
            <img class="coin" src="{{apiUrlDishs}}{{d.image}}" alt="image">
        </div>
        <div class="text">
        <h2 class="food">
            {{d.name}}
        </h2>
            <div class="price">
                <img class="coin" src="assets/icons/coin.png" alt="coin">&nbsp;
                <span>{{d.price}} Dinara</span>
            </div>       
        
        <p class="info super">Dish description.</p>
        </div>
    </div>

</div>

<div *ngIf="restaurant?.ratings?.length" class="containerHeadeing space">
    <h1>Comments</h1>
</div>
<div *ngIf="restaurant?.ratings?.length" class="container1">
    <div class="wrapper1">
      <i  id="left1" class="fa-solid fa-angle-left arrow"></i>
      <ul class="carousel1">
        <li *ngFor="let r of restaurant?.ratings" class="card1">
            <div class="img1"><img src="{{apiUrlUser}}{{r.user.image}}" alt="" draggable="false"></div>
            <h1>{{r.user.firstName}} {{r.user.lastName}}</h1>
            
            <div class="stars">
                <img *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
                    [src]="i < r.rate ? 'assets/icons/stars2.png' : 'assets/icons/empty.png'" 
                    alt="star">
            </div>
            <p>{{r?.message}}</p>
          
        </li>
      </ul>
      <i id="right1" class="fa-solid fa-angle-right arrow"></i>
    </div>

    
</div>

<div *ngIf="isLoggedIn" id="formContainer">
    <p id="hedding2">Leave a review</p>
    <form [formGroup]="form" id="register-form" (ngSubmit)="submitRating()">
        <div class="mb-3 customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/chat.png" alt="icon">
            </div>
            <div class="inputFiled">
                <input formControlName="ratingMessage" type="text" name="message" id="message" placeholder="Enter a review (optional)">
            </div>
        </div>
    
        <p id="hedding">Enter rate</p>
        <div class="stars2">
            <img *ngFor="let star of stars; let i = index" 
                 [src]="star <= rating ? 'assets/icons/stars2.png' : 'assets/icons/empty.png'" 
                 alt="star" 
                 (click)="setRating(star)">
        </div>
    
        <div *ngIf="messageRatingResponse" class="successMessage">{{messageRatingResponse}}</div>
        <div *ngIf="errorMessageRating" class="errorMessage">{{errorMessageRating}}</div>
    
        <div id="buttonContainer">
            <button type="submit" class="sumbitButton">Submit</button>
        </div>
    </form>
</div>