<div id="formContainer">
    <div id="logoContainer">
        <img id="logo" src="assets/images/logo.png" alt="">
    </div>


    <p id="hedding">The exit you deserve</p>

    <p id="hedding2">Register now</p>
    <form [formGroup]="registerForm" id="register-form" (ngSubmit)="onSubmit()">
        <div class="mb-3" class="customInput">
          <div class="iconFormsCustom">
            <img src="assets/icons/text.png" alt="icon">
          </div>
          <div class="inputFiled">
            <input type="text" name="name" formControlName="name" id="name" placeholder="Name">
          </div>
        </div>

        <div class="errorMessage" *ngIf="registerForm.get('name')?.hasError('pattern') && registerForm.get('name')?.touched">
            Name must start with a capital letter and be at least 3 characters long.
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('name')?.hasError('serverError')">
            {{ registerForm.get('name')?.getError('serverError') }}
        </div>
        
        
        <div class="mb-3" class="customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/text.png" alt="icon">
            </div>
            <div class="inputFiled">
              <input type="text" name="lastname" formControlName="lastname" id="lastname" placeholder="Lastname">
            </div>
        </div>

        <div class="errorMessage" *ngIf="registerForm.get('lastname')?.hasError('pattern') && registerForm.get('lastname')?.touched">
            Name must start with a capital letter and be at least 3 characters long.
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('lastname')?.hasError('serverError')">
            {{ registerForm.get('lastname')?.getError('serverError') }}
        </div>

        <div class="mb-3" class="customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/email.png" alt="icon">
            </div>
            <div class="inputFiled">
              <input type="text" name="email" formControlName="email" id="email" placeholder="Email">
            </div>
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
            Enter a valid email.
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('email')?.hasError('serverError')">
            {{ registerForm.get('email')?.getError('serverError') }}
        </div>
        

        <div class="mb-3" class="customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/key.png" alt="icon">
            </div>
            <div class="inputFiled">
              <input type="password" name="password" formControlName="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('password')?.hasError('pattern') && registerForm.get('password')?.touched">
            Password must contains minimum 8 characters, one capital letter ant one special character
        </div>
        <div class="errorMessage" *ngIf="registerForm.get('password')?.hasError('serverError')">
            {{ registerForm.get('password')?.getError('serverError') }}
        </div>

        <div class="mb-3" class="customInput">
            <div class="iconFormsCustom">
                <img src="assets/icons/key.png" alt="icon">
            </div>
            <div class="inputFiled">
              <input type="password" name="rePassword" formControlName="rePassword" id="rePassword" placeholder="Confirm password">
            </div>
        </div>
        <div class="errorMessage" *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('rePassword')?.touched">
            Passwords do not match.
        </div>




        <div *ngIf="message" class="successMessage">Successfull registration, go to <a class="href" href="/login">Login</a> page</div>

        <div *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</div>

        <div id="buttonContainer">
            <button type="submit" class="sumbitButton">Register</button>
        </div>
    </form>
</div>