#formContainer{
    width: 45%;
}

.customInput{
    width: 80%;
}
select{
    width: 100%;
    height: 100%;
}
.chc{
    margin-left: 11%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.chc label{
    margin-top: 8px;
    margin-left: 10px;
}

.noMargin{
    margin-bottom: 0px;
}

.mealCategory{
    margin-left: 10%;
}
.errorMessage{
    margin: 0px auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 0px;
}

.successMessage{
    margin: 0px auto;
    width: 80%;
    margin-top: 30px;
}

