<section class="wrapper">    
    <div class="table-agile-info">
<div class="panel panel-default">
<div class="panel-heading">
 Contacts
</div>
<input class="searchInpur" type="text" placeholder="Search users" (input)="onInputChange($event)"/>

<div>
  <table *ngIf="contacts?.length; else noRestaurants" class="table" ui-jq="footable">
    <thead>
      <tr>
        <th data-breakpoints="xs">#</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>subject</th>
        <th>Message</th>
        <th>Remove</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of contacts; let i = index">
        <td>{{i + 1}}</td>
        <td>{{c.firstName}}</td>
        <td>{{c.lastName}}</td>
        <td>{{c.email}}</td>
        <td>{{c.subject}}</td>
        <td>{{c.message}}</td>
        
        <td>
            <button type="button" class="btn btn-danger" (click)="delete(c.id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noRestaurants>
    <p class="alert-danger w-100 text-center">No results</p>
  </ng-template>

  <div *ngIf="isVisible" id="buttonContainer">
    <button (click)="loadMore()" type="submit" class="sumbitButton">Load more</button>
  </div>
  
</div>
</div>
<p class="text-danger">{{errorMessage}}</p>
</div>
</section>

