.image{
    width: 150px;
    height: 150px;
    margin-left: 31%;
}

#buttonContainer{
    margin-top: 100px;
}

h4{
    text-align: center;
}

.image img{
    width: 100%;
    object-fit: cover;
}

.imageBox{
    margin-top: 100px;
    margin-left: 27%;
}